* {
    border: none;
    border-radius: 0;
    font-family: SF Pro;
    font-size: 21px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.2);
    color: white;
}

.modules-left {
    padding-left: 25px;
}

.modules-right {
    padding-right: 25px;
}

#workspaces {
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-launcher {
    font-size: 30px;
    padding-right: 10px;
}

#custom-kanji {
    font-size: 21px;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button {
    padding: 0 8px;
    color: white;
    font-weight: bold;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #ffffff;
}

#workspaces button.active {
    border-bottom: 1px solid #ffffff;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#temperature, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 5px;
    margin: 0 5px;
}

#clock {
    margin: 0 5px;
}

