* {
    border: none;
    border-radius: 0;
    font-family: SF Pro;
    font-size: 13.4px;
    min-height: 0;
}

window#waybar {
    background: rgba(17, 17, 27, 0.8);
    color: white;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-left {
    padding-left: 7px;
}

.modules-right {
    padding-right: 7px;
}

#workspaces {
    border-radius: 3px;
    margin: 0rem 0.15rem;
    color: #f38ba8;
}

#workspaces button {
    color: #cdd6f4;
    border-radius: 1rem;
    padding: 0.2rem;
}

#workspaces button.active {
    color: #89b4fa;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: #1e1e2e;
    background-color: #cdd6f4;
    border-radius: 1rem;
}

#clock,
#battery,
#temperature,
#pulseaudio,
#custom-logo,
#cpu,
#tray,
#memory,
#window {
  padding: 0rem 0.5rem;
  border-radius: 6px;
  margin: 0rem 0.15rem;
}

#cpu {
  color: #d793a0;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #f5c2e7;
}

#window {
  color: #f0bfe3;
}

#pulseaudio {
  color: #92dfd2;
}

#battery {
  color: #c5a1f0;
}

#temperature {
    color: #89b4fa;
}

tooltip {
  background-color: #181825;
  border-radius: 5px;
}
